<title>Common Words</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.min.js"></script>

<nav><h1>Common Words</h1></nav>

<main>
  <label>
    <span>Enter the Website URL where you want to get the common words</span>

    <div class="input-wrapper">
      <input id="url-input" type="text" placeholder="www.example.com" />
      <button id="url-input-sbt" class="btn">Get em</button>
    </div>
  </label>

  <section id="result">
    <section id="result-title"></section>
    <section id="result-cloud"></section>
    <section id="result-table"></section>
    <section id="result-graph"></section>
  </section>

  <p class="separator">OR</p>

  <button class="btn btn-primary" id="rndwiki">Random Wikipedia Page</button>
</main>

<script src="{{ url_for('static', filename='main.js') }}"></script>
